#about
	padding 90px 0 20px
.general-wrapper-about
	margin-bottom: 30px
.about-wrapper-list
	li
		list-style: none
		padding-left: 25px
		position relative
		&:nth-child(2)
			margin 35px 0
		&:before
			content: ''
			display block
			position absolute
			top 7px
			left 0
			border-radius: 50px
			background-color: #CC922F
			width 14px
			height 14px
.about-img
	width 100%
	max-width 485px
	margin 100px auto 0
	display block
.general-img-about
	img
		bottom: 60px
		right 0
.rect-about
	width 506px
	height 193px
	background-color: #16133f
	top -20px
	right -10px